body {
  margin: 0px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, ul, p, blockquote, dd {
  margin: 0px;
}

h1 {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 90px;
  color: #ffffff;
}

h2 {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 55px;
  font-weight: 300;
  color: #B58DA4;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #005B56;
  margin-bottom: 10px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: 100%;
  display: block; 
}

.container {
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container i {
  color: #005B56;
}

.botao {
  display: inline-block;
  padding: 4px 12px;
  background: linear-gradient(#B58DA4, #c49bb2);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#d9a9c4, #ebbed7);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s;
}

.botao2 {
  display: inline-block;
  padding: 4px 12px;
  background: linear-gradient(#00766F, #08877e);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao2:hover {
  background: linear-gradient(rgb(1, 137, 130), #11b9ae);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s;
}

.botão-form {
  border-radius: 4px !important;
  padding: 8px 24px;
  margin-bottom: 10px;
}

.texto-post {
  padding-top: 100px;
  padding-bottom: 150px;
}

.banner-post {
  margin-bottom: 100px;
}

.texto-posts {
  margin-bottom: 150px;
}

.link-filmes {
  font-size: 20px;
  font-weight: 600;
  color: #B58DA4;
}

@media (max-width: 900px) {
  .botao {
    padding: 5px 10px;
    font-size: 0.7rem;
  }
}